<div class="d-flex flex-column contact">
    <div class='about_image'>
      <div class="column one">
        <h1 class="title">Stay in touch with us</h1>
        
      </div>
    </div>
    <div class='heading'>
      <h2 class='heading_text'>We work from Monday to Saturday from 9:00 a.m. to 7:00 p.m.</h2>
    </div>
    <div class='container-fluid '>
      <div class= 'contact_form'>
        
        <div class=" container-fluid form">
          <div class=" form">
            <div class=" ">
              <h3 class='form-item'>Head Office</h3>
              <h5 class='form-item bold_text'>SK Overseas Consultats.</h5>
              <p class='form-item'>
                202, ABCD Building, Street No-8, ABCD Nagar Lanee – 2,
                ABDF, Hyderabad, Telangana – 500007.
              </p>
              <p class='form-item'>Call : +91 63018 27402</p>
            </div>
            <div class="">
              <h3 class='form-item'>Branch Office</h3>
              <h5 class='form-item bold_text'>SK Overseas Consultats.</h5>
              <p class='form-item'>
                202, ABCD Building, Street No-8, ABCD Nagar Lanee – 2,
                ABDF, Hyderabad, Telangana – 500007.
              </p>
              <p class='form-item'>Call : +91 63018 27402</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>